{% extends 'base3.html.twig' %}

{% block title %}Détails de la Clause{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4>📋 Détails de la Clause</h4>
            <div>
                <a href="{{ path('app_clause_contrat_edit', {'id': clause.idClause}) }}" class="btn btn-warning">
                    ✏️ Modifier
                </a>
                <a href="{{ path('app_clause_contrat_index', {'contratId': clause.contrat.idContrat}) }}" class="btn btn-secondary">
                    ← Retour à la liste
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Titre</dt>
                        <dd class="col-sm-8">{{ clause.titre }}</dd>

                        <dt class="col-sm-4">Type</dt>
                        <dd class="col-sm-8">
                            <span class="badge bg-info">{{ clause.type }}</span>
                        </dd>

                        <dt class="col-sm-4">Ordre</dt>
                        <dd class="col-sm-8">{{ clause.ordre }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Contrat</dt>
                        <dd class="col-sm-8">{{ clause.contrat.reference }}</dd>

                        <dt class="col-sm-4">Créée le</dt>
                        <dd class="col-sm-8">{{ clause.createdAt|date('d/m/Y H:i') }}</dd>

                        <dt class="col-sm-4">Modifiée le</dt>
                        <dd class="col-sm-8">{{ clause.updatedAt|date('d/m/Y H:i') }}</dd>
                    </dl>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <h5>Contenu de la clause</h5>
                    <div class="card">
                        <div class="card-body bg-light">
                            {{ clause.contenu|nl2br }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 