{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{{ asset('assets/css/nucleo-icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/nucleo-svg.css') }}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link id="pagestyle" href="{{ asset('assets/css/soft-ui-dashboard.css') }}" rel="stylesheet" />
    {% include 'user/_navbar.html.twig' with {'css_only': true} %}
    <style>
        .navbar {
            background: black !important;
        }
        .navbar-collapse {
            background: black !important;
        }
        .page-header {
            background-image: linear-gradient(45deg, #2196F3, #1976D2);
            min-height: 30vh;
            display: flex;
            align-items: center;
            padding-top: 60px;
        }
        .card {
            margin-top: -100px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'user/_navbar.html.twig' with {'css_only': false} %}

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-auto">
                    <div class="card">
                        <div class="card-header pb-0 text-center">
                            <h3 class="font-weight-bolder text-info text-gradient">Bienvenue</h3>
                            <p class="mb-0">Connectez-vous avec votre compte</p>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="alert alert-info text-white">
                                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-white font-weight-bold">Se déconnecter</a>
                                    </div>
                                {% endif %}

                                <div class="mb-3">
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
                                </div>

                                <div class="mb-3">
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Se connecter</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-4 text-sm mx-auto">
                                Pas encore de compte?
                                <a href="{{ path('app_register') }}" class="text-info text-gradient font-weight-bold">S'inscrire</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/smooth-scrollbar.min.js') }}"></script>
{% endblock %} 