<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assetsB/img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ asset('assetsB/img/favicon.png') }}">
  <title>
    {% block title %}Soft UI Dashboard - Tables{% endblock %}
  </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/fr.min.js"></script>
  <!-- Fonts and icons -->
  {% block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="{{ asset('assetsB/css/nucleo-icons.css') }}" rel="stylesheet" />
  <link href="{{ asset('assetsB/css/nucleo-svg.css') }}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- CSS Files -->
  <link id="pagestyle" href="{{ asset('assetsB/css/soft-ui-dashboard.css?v=1.1.0') }}" rel="stylesheet" />
  {% endblock %}
  {% block head_javascripts %}{% endblock %}
  {% endblock %}
</head>

<body class="g-sidenav-show bg-gray-100">
  {% block body %}
  <!-- Sidebar -->
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="{{ path('app_dashboard') }}">
        <img src="{{ asset('assetsB/img/logo-ct-dark.png') }}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Soft UI Dashboard</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_dashboard') }}">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-home"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_tables') }}">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fas fa-table"></i>
            </div>
            <span class="nav-link-text ms-1">Tables</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{{ path('app_dashboard') }}">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Tables</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Tables</h6>
        </nav>
      </div>
    </nav>

    <!-- Contenu principal -->
    <div class="container-fluid py-4">
     

      <!-- Section Authors Table (conservée du code de base) -->
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>{% block authors_table_title %}Authors table{% endblock %}</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                {% block authors_table_content %}
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{% block authors_table_header_author %}{% endblock %}</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% block authors_table_header_function %}{% endblock %}</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% block authors_table_header_status %}{% endblock %}</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">{% block authors_table_header_employed %}{% endblock %}</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% block authors_table_body %}
                    <tr>
                      <td>
                        {% block authors_table_row %}
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{ asset('assetsB/img/team-2.jpg') }}" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{% block authors_table_name %}John Michael{% endblock %}</h6>
                            <p class="text-xs text-secondary mb-0">{% block authors_table_email %}john@creative-tim.com{% endblock %}</p>
                          </div>
                        </div>
                        {% endblock %}
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">Manager</p>
                        <p class="text-xs text-secondary mb-0">Organization</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Online</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td>
                      <td class="align-middle">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit
                        </a>
                      </td>
                    </tr>
                    {% endblock %}
                  </tbody>
                </table>
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>

    
  </main>
  {% block javascripts %}
  <!--   Core JS Files   -->
  <script src="{{ asset('assetsB/js/core/popper.min.js') }}"></script>
<script src="{{ asset('assetsB/js/core/bootstrap.min.js') }}"></script>
<script src="{{ asset('assetsB/js/plugins/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('assetsB/js/plugins/smooth-scrollbar.min.js') }}"></script>
<script src="{{ asset('assetsB/js/soft-ui-dashboard.min.js?v=1.1.0') }}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

 <script src="../assetsB/js/soft-ui-dashboard.min.js?v=1.1.0"></script>
 <script>
$(function () {
  $('[data-bs-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
{% endblock %}
</body>
</html>